.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.searchButton {
  margin: 5px;
  padding: 8px;
  background-color: #6ae73c;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #56c22d;
}

.searchInput {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.loadingMessage {
  margin: 10px;
}

.searchContainer {
  width: 100%;
  margin: 20px;
}

.paginationButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.paginationButtons button {
  margin: 5px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.itemsPerPageSelector {
  margin: 5px;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchHistory ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchHistory ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.cleanSearchHistoryButton {
  margin: 5px;
  padding: 8px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cleanSearchHistoryButton:hover {
  background-color: #c0392b;
}

.gif {
  width: calc(100% / 3);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2rem;
  }

  .gif {
    width: 100%;
  }
}
